<!-- <p>discover works!</p> -->
<mat-tab-group>
    <mat-tab label="All" class="border"> 
        <div *ngIf="Info" class="px-0 row">
            <div *ngFor="let item of Info" class=" shadow card  col-sm-12 mx-auto p-0 border-0 my-2" style="width: 18rem;">
                <div class="col-md-12  my-2 p-0">
                    <img class="card-img-top" [src]="ImagePath+item.image" alt="Card image cap">
                    <div class="card-body ">
                    <p class="card-text text-center">@{{item.nick_name}}</p>
                    <p class="card-text text-center">{{item.category}}</p>
                    <p class="card-text text-center">{{item.town}}, {{item.country}}</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="music artist" class=""> Music Artist
        <div *ngIf="Info" class="row">
            <div *ngFor="let item of Info" class="col">
                <div class="my-2 p-0" *ngIf="item.category=='Artist'">
                    <p>hkgghgkh</p>
                    <img class="card-img-top" [src]="ImagePath+item.image" alt="Card image cap">
                    <div class="card-body ">
                        <p class="card-text text-center">@{{item.nick_name}}</p>
                        <p class="card-text text-center">{{item.category}}</p>
                        <p class="card-text text-center">{{item.town}}, {{item.country}}</p>
                    </div>
                </div>
            </div>
            <!-- <div *ngIf="artists.category!='Artist'" class="errorMsg py-5">
                <p>No artist Available!</p>
            </div> -->

        </div> 
    </mat-tab>
    <mat-tab label="Bands"> Bands 
        <div *ngIf="Info">
            
            <div *ngFor="let item of Info" class="row">
                <div class="col-2 my-2 p-0" *ngIf="item.category=='Band'">
                    <img class="card-img-top" [src]="ImagePath+item.image" alt="Card image cap">
                    <div class="card-body ">
                        <p class="card-text text-center">@{{item.nick_name}}</p>
                        <p class="card-text text-center">{{item.category}}</p>
                        <p class="card-text text-center">{{item.town}}, {{item.country}}</p>
                    </div>
                </div>
            </div>
            <!-- <div *ngIf="Info.category!='Band'" class="errorMsg py-5">
                <p>No Bands Available!</p>
            </div> -->

        </div>
    </mat-tab>
    <mat-tab label="DJ"> DJ 
        <div *ngIf="Info">
            <div *ngFor="let item of Info" class="row">
                <div class="col-4 my-2 p-0" *ngIf="item.category=='DJ'">
                    <img class="card-img-top" [src]="ImagePath+item.image" alt="Card image cap">
                    <div class="card-body ">
                        <p class="card-text text-center">@{{item.nick_name}}</p>
                        <p class="card-text text-center">{{item.category}}</p>
                        <p class="card-text text-center">{{item.town}}, {{item.country}}</p>
                    </div>
                </div>
            </div>
            <!-- <div *ngIf="Info.category!='DJ'" class="errorMsg py-5">
                <p>No DJ Available!</p>
            </div> -->

        </div>
    </mat-tab>
    <mat-tab >
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">tune</mat-icon>
            Filter
        </ng-template>
        Filter
    </mat-tab>
</mat-tab-group>

