<mat-tab-group class="" style="max-height: 85vh; overflow-y: auto;">

    <!-- All -->
    <mat-tab label="All" class="border " >
        <div class="container ">
            <div *ngIf="Info" class="row">
                <h2 class="text-muted">Popular Musician</h2>
                <div *ngFor="let id = index; let item of Info"  style="width: 18rem;" class="col-md col-sm-6 mx-auto my-2" >
                    <mat-card class="example-card" style="min-height: 30vh;" routerLink="/dash/{{id}}" style="cursor: pointer;">
                        <mat-card-header>
                            <mat-card-title-group>
                                <img mat-card-md-image class="w-100" [src]="ImagePath+item.image" alt="Card image cap">
                            </mat-card-title-group>
                        </mat-card-header>
                        <mat-card-content >
                            <p class="card-text text-center">@{{item.nick_name}}</p>
                            <p class="card-text text-center">{{item.category}}</p>
                            <p class="card-text text-center">{{item.town}},{{item.country}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class=" m-2 px-5 py-1">
                <div class="text-center border-2 border-top border-bottom border-warning p-2">
                    <p>Not sure of What you want?</p>
                    <button mat-raised-button color="accent"><a routerLink="search" class="text-deco">Find musician</a></button>
                </div>
            </div>

            <div class="py-2">
                <h2>Event Types</h2>
                <div class="row shadow p-4">
                    <div class="col card">
                        <img src="../../assets/images/pexels-pixabay-433452.jpg" alt="" width="100%" height="100%">
                        <p>BirthDay Party🎉</p>
                    </div>
                    <div class="col card">
                        <img src="../../assets/images/pexels-francisco-sanchez-10888608.jpg" alt="" width="100%" height="100%">
                        <p>Wedding Party🎉</p>
                    </div>
                    <div class="col card">
                        <img src="../../assets/images/adrianna-geo-JWlZS708L1Y-unsplash.jpg" alt="" width="100%" height="100%">
                        <p>Funeral Party🎉</p>
                    </div>
                    <div class="col card">
                        <img src="../../assets/images/vasily-koloda-8CqDvPuo_kI-unsplash.jpg" alt="" width="100%" height="100%">
                        <p>Graduation Party🎉</p>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>

    <!-- music Artist -->
    <mat-tab label="music artist" class="h">
        <div class="h">
            <div *ngIf="Info" class="row">
                <div *ngFor="let item of Info" class="shadow card col-sm-12 mx-auto p-0 border-0 my-2" style="width: 18rem;">
                    <div class="my-2 p-0" *ngIf="item.category=='Artist'">
                        <mat-card class="example-card" style="min-height: 30vh;">
                            <mat-card-header>
                                <mat-card-title-group>
                                    <img mat-card-md-image class="w-100" [src]="ImagePath+item.image" alt="Card image cap">
                                </mat-card-title-group>
                            </mat-card-header>
                            <mat-card-content >
                                <p class="card-text text-center">@{{item.nick_name}}</p>
                                <p class="card-text text-center">{{item.category}}</p>
                                <p class="card-text text-center">{{item.town}} {{item.country}}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
    
            </div>
        </div>
    </mat-tab>

    <!-- Bands -->
    <mat-tab label="Bands">
        <div class="h">
            <div *ngIf="Info" class="row ">
                <div *ngFor="let item of Info" class="shadow card col-sm-12 mx-auto p-0 border-0 my-2" style="width: 18rem;">
                    <div class="my-2 p-0" *ngIf="item.category=='Bands'">
                        <mat-card class="example-card" style="min-height: 30vh;">
                            <mat-card-header>
                                <mat-card-title-group>
                                    <img mat-card-md-image class="w-100" [src]="ImagePath+item.image" alt="Card image cap">
                                </mat-card-title-group>
                            </mat-card-header>
                            <mat-card-content >
                                <p class="card-text text-center">@{{item.nick_name}}</p>
                                <p class="card-text text-center">{{item.category}}</p>
                                <p class="card-text text-center">{{item.town}} {{item.country}}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
    
            </div>
        </div>
    </mat-tab>

    <!-- DJ -->
    <mat-tab label="DJ">  
        <div class="h">
            <div *ngIf="Info" class="row ">
                <div *ngFor="let item of Info" class="shadow card col-sm-12 mx-auto p-0 border-0 my-2" style="width: 18rem;">
                    <div class="my-2 p-0" *ngIf="item.category=='DJ'">
                        <mat-card class="example-card" style="min-height: 30vh;">
                            <mat-card-header>
                                <mat-card-title-group>
                                    <img mat-card-md-image class="w-100" [src]="ImagePath+item.image" alt="Card image cap">
                                </mat-card-title-group>
                            </mat-card-header>
                            <mat-card-content >
                                <p class="card-text text-center">@{{item.nick_name}}</p>
                                <p class="card-text text-center">{{item.category}}</p>
                                <p class="card-text text-center">{{item.town}} {{item.country}}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
    
            </div>
        </div>
    </mat-tab>

    <!-- Filter -->
    <mat-tab >
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">tune</mat-icon>
            Filter
        </ng-template>
        
        <div class="h">
            Filter
        </div>
    </mat-tab>
</mat-tab-group>
<!-- <p>dashboard works!</p> -->
<!-- <app-dashboard></app-dashboard> -->