
<div >
    <ng-container color='warn'>
        
        <mat-card class="example-card p-4">
            <div *ngIf="initial==true" class="border p-4 mx-auto">
                <h3 class="text-center text-warning">Change Password</h3>
                <div class="w-100 px-4 mx-auto">
                    <mat-form-field class="w-100" color="accent">
                        <mat-label color="accent">New Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="pasWord" >
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon class="text-warning">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="w-100 px-4 mx-auto">
                    <mat-form-field class="w-100" color="accent">
                        <mat-label color="accent">Confirm Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="confirmPasWord" >
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon class="text-warning">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="border-top border-warning w-50 mx-auto">
                    <button mat-button (click)="cancel()" class="text-warning">
                        <mat-icon class="text-warning">cancel</mat-icon>
                        Cancel</button>
                    <button mat-button class="text-warning" (click)="changePassword()">
                        <mat-icon class="text-warning" >save</mat-icon>
                        Save
                    </button>
                </div>
            </div>
            <!-- <div class="" *ngIf="dialogOpen==true">
                    <div class=" p-4 w-75 mx-auto mt-4  ">
                        <h3  class="text-warning text-center">Edit Profile</h3>
                        <p class="text-center text-danger">{{generalErrorMsg}}</p>
                        <div class="p-4">
                                <mat-form-field class="w-100">
                                    <mat-label>First Name</mat-label>
                                    <input matInput placeholder="First Name" [(ngModel)]="fullName" #fname="ngModel" required class="w-100" minlength="2" maxlength="40" [class.is.valid]="fname.valid" [class.is.invalid]="fname.invalid">
                                    <mat-error *ngIf="fname.invalid">{{ErrorMsg}}</mat-error>
                                </mat-form-field>

                                <mat-form-field class="w-100">
                                    <mat-label>Nick Name</mat-label>
                                    <input matInput placeholder="Nick Name" [(ngModel)]="nickName" #fname="ngModel" required class="w-100" minlength="5" maxlength="100" [class.is.valid]="fname.valid" [class.is.invalid]="fname.invalid">
                                    <mat-error *ngIf="fname.invalid">{{ErrorMsg}}</mat-error>
                                </mat-form-field>
    
                                <mat-form-field class="w-100">
                                    <mat-label>Phone Number</mat-label>
                                    <span matPrefix>+234 &nbsp;</span>
                                    <input matInput type="number" class="w-100" placeholder="Phone Number" [(ngModel)]="pNumber" #phone="ngModel" required minlength="10" maxlength="10" [class.is.valid]="phone.valid" [class.is.invalid]="phone.invalid">
                                    <mat-icon matSuffix class="text-warning">phone</mat-icon>
                                    <mat-error *ngIf="phone.invalid">{{ErrorMsg}}</mat-error>
                                </mat-form-field>
                                <mat-form-field class="w-100">
                                    <mat-label>Email</mat-label>
                                    <input matInput matNativeControl #Email="ngModel" [(ngModel)]="email"  placeholder="Ex. pat@example.com" minlength="7" required class="w-100">
                                    <mat-error *ngIf="emailControl.invalid">{{emailErr}}</mat-error>
                                </mat-form-field>

                            <div>
                                <button mat-raised-button (click)="saveEditedProfile()"><mat-icon>save</mat-icon>Save</button>
                                <button mat-flat-button><mat-icon>cancel</mat-icon> Cancel</button>
                            </div>
                            </div>
                        </div>
                    </div> -->
            <div  class="example-header-image mx-auto profileImage"  *ngIf="user">
                <img mat-card-image width="100%"  height="100%"  [src]="imagePath+user.image" alt="profile-pic">
            </div>
            <mat-card-header *ngIf="user" class="mx-auto text-center">
                <mat-card-title ><p>{{user.full_name}}</p></mat-card-title>
                <mat-card-subtitle ><p>@{{user.nick_name}}</p></mat-card-subtitle>
                <mat-card-subtitle ><p>{{user.category}}</p></mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content class="mx-auto text-center" *ngIf="user">
                <p><b>Email</b> : {{user.email}}</p>
                <p><b>Phone Number</b> : {{user.phone_number}}</p>
                <p *ngIf="user"><b>Country</b> : {{user.country}}</p>
                
            </mat-card-content>
            <mat-card-actions class="mx-auto">
                <button mat-raised-button class="text-warning" (click)="openDialog('300ms', '150ms')">
                    <mat-icon class="text-warning">edit</mat-icon>
                    Complete Profile
                </button>
                <button mat-raised-button class="text-warning" (click)="showProfile()">
                    <mat-icon class="text-warning">edit_note</mat-icon>
                    Edit Profile
                </button>
                <button mat-raised-button class="text-warning" (click)="DialogChangePassword()">
                    <mat-icon class="text-warning">key</mat-icon>
                    Change Password
                </button>
            </mat-card-actions>
            <mat-card-footer *ngIf="progressBar==true">
                <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>

        
    </ng-container>
</div>