<div class="" >

    <div class=" p-0">
        <div class="container mx-auto mt-4 w-100">
                <h3 class="text-warning" mat-dialog-title>Hey Musician! Your Profile is 50% Complete...😊 Complete Your Profile!</h3>
            <mat-slider  color="accent"
                    class="example-margin w-100 text-warning"
                    [disabled]="disabled"
                    [max]="max"
                    [min]="min"
                    [step]="step"
                    [discrete]="thumbLabel"
                    [showTickMarks]="showTicks">
                <input matSliderThumb [(ngModel)]="value" color="accent" class="w-100 text-warning">
            </mat-slider>
        </div>
        
        <div class="border-start border-end border-warning container p-0">
            <mat-dialog-content class=" mt-4 p-0" >
                
                <div class=" px-4">
                    <mat-form-field color="accent" class="w-100 mat-form-field " >
                        <mat-label color="accent">Select Category</mat-label>
                        <mat-select [(value)]="selected" color="accent"  class="" required [(ngModel)]="selected">
                            <mat-option value="Artist" class="">Artist</mat-option>
                            <mat-option value="Band" class="">Band</mat-option>
                            <mat-option value="DJ" class="">DJ</mat-option>
                        </mat-select>

                    </mat-form-field>
                </div>
                <div class="px-4">
                    <mat-form-field color="accent" class="w-100" >
                        <mat-label color="accent">Country</mat-label>
                        <input type="text" matInput value="country" [(ngModel)]="country">
                    </mat-form-field>
                </div>
                <div class="px-4">
                    <mat-form-field color="accent" class="w-100" >
                        <mat-label color="accent">Town</mat-label>
                        <input type="text" matInput value="town" [(ngModel)]="town">
                    </mat-form-field>
                </div>
                <div class="px-4">
                    <mat-form-field color="accent" class="w-100" >
                        <mat-label color="accent">Price Range</mat-label>
                        <input type="text" matInput value="priceRange" 
                        [(ngModel)]="priceRange">
                        <span matTextPrefix>$&nbsp;</span>
                        <span matTextSuffix>.00</span>
                    </mat-form-field>
                </div>
                <div class="px-4 ">
                    <div class="w-100">
                        <mat-label color="accent" class="text-warning">Upload photo</mat-label>
                        <input type="file" class="w-100 btn btn-warning form-control"(change)="fileUpload($event)" >
                    </div>
                </div>
                <div class=" px-4 my-2 ">
                    <div class="w-100 d-flex flex-row-reverse me-4 px-4">
                        <button mat-raised-button mat-dialog-close class="text-warning">
                            <mat-icon class="text-warning">close</mat-icon>
                            Close
                        </button>
                        <button mat-raised-button class="text-warning" (click)="submit()">
                            <mat-icon class="text-warning">arrow_forward_ios</mat-icon>
                            submit
                        </button>
                    </div>
                </div>
            </mat-dialog-content>
        </div>
    </div>

</div>