
<div>
    <div class=" text-center">
        <div class="mx-auto songlist" *ngIf="initial==true">
            <!-- <p>songlist works!</p> -->
            <div  class=" p-2 mx-auto">
                <div>
                    <mat-form-field class="example-form-field " color="accent">
                        <mat-label class="text-primary">Enter Audio Title </mat-label>
                        <input class="form-control border-warning text-center"  [(ngModel)]="audioTitle"  type="text" matInput>
                    </mat-form-field>
                    <div class="example-form-field" color="accent">
                        <mat-label color="accent">Choose an Audio file</mat-label>
                            <input class="form-control  text-warning"  type="file" accept="audio/*"  (change)="fileUpload($event)">
                    </div>
                </div>
                <div class="">
                    <button mat-raised-button class="text-warning" (click)="uploadAudio()">                       
                        <mat-icon>upload</mat-icon>
                        Upload 
                    </button>
                </div>
            </div>
        </div>
        <div >
            <button mat-icon-button class="text-warning" (click)="open()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
    <div class="shadow mx-4 p-2 py-4 " *ngIf="songList.length !=0">
        <table class="col-12 border" *ngFor="let item of songList">
            <!-- <div class=" my-3  shadow mx-4 p-4 rounded" > -->
                <!-- <div class=""> -->
                    <tr class="border col-12 px-2">
                        <td class="px-2">
                            <audio [src]="songPath+item.audio" class=" p-2"  type="audio/*" controls>
                                <button mat-icon-button>
                                    <mat-icon>music_library</mat-icon>
                                </button>
                            </audio>
                        </td>
                        <!-- <td class="px-2">
                            <button mat-icon-button>
                                <mat-icon color="accent">play_arrow</mat-icon>
                            </button>
                        </td> -->
                        <td class="px-2">
                            <p class="text-warning text-center">Audio Title:{{item.audio_title}}</p>
                        </td>
                        <td class="px-2">
                            <p class="text-warning text-center">Audio Name:{{item.audio_name}}</p>
                        </td>
                        <td class="px-2">
                            <button mat-icon-button class="text-warning  border-warning" (click)="deleteAudio(item.audio_id)"><mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                <!-- </div> -->

            <!-- </div> -->
        </table>
    </div>
    <div *ngIf="songList.length == 0" class="errorMsg py-5">
        <p class=" text-center">{{message1}}</p>
    </div>
</div>
